body{
    background-color: #FFD3B5;
}

header{
    background-color: #FF8C94;
    height: 70px;
}

h2{
    position: absolute;
    top: 3%;
    right: 40%;
}

#leftContent {
    background-color: #DCEDC2;
}
#maze {
    font-size: 27px;
    font-family: none;
    line-height: 1.0;
    border: 4px solid black;
    text-align : center;
    background-color: #FFAAA6;
    color: black; 
}

.margin-0{
    margin: 0rem;
}
.padding-0{
    padding: 0rem;
}
.margin-padding-0 {
    margin: 0rem;
    padding:0rem;
}

#end {
    background-color: #FF8C94;
    color: white; 
}